<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Sam</h1>
		<p>Samantha Ruth Prabhu (born 28 April 1987) is an Indian actress and model. She has established a career in the Telugu and Tamil film industries, and is a recipient of four Filmfare Awards.Samantha was born and raised in Chennai to parents of Telugu and Malayali ancestry, and as an undergraduate pursuing a degree in commerce, she worked part-time on modelling assignments. She soon received offers for film roles, and made her acting debut in Gautham Menon's critically acclaimed Telugu romance film, Ye Maaya Chesave (2010) </p>

	</div>
</div>